<h1>Sign in to <b><%= params[:client_id] %></b></h1>

<p>Use one of the services below to authenticate as <b><%= params[:me] %></b>.</p>

<form action="/auth/github" method="post">
  <button>Authenticate with GitHub</button>
</form>

<p>You will be redirected to <b><%= params[:redirect_uri] %></b> after authorizing this application’s request.</p>
