<%= partial :'authentications/authentication', locals: { client_id: client_id, me: me } if response_type == 'id' %>
<%= partial :'authentications/authorization', locals: { client_id: client_id, me: me, scope: scope } if response_type == 'code' %>

<form action="/auth/github" method="post">
  <input type="hidden" name="authenticity_token" value="<%= csrf %>">

  <button>Authenticate with GitHub</button>
</form>

<p class="redirect-note">You will be redirected to <b><%= redirect_uri %></b> after authorizing this application’s request.</p>
