.app-header {
  color: var(--white);
  padding: var(--spacing);

  @include breakpoint(48rem) {
    padding: var(--spacing-large) var(--spacing);
  }

  h1 {
    margin: 0;

    a {
      font-weight: inherit;
      text-decoration: none;

      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
  }

  p {
    margin-bottom: 0;
  }

  a {
    color: var(--white);
  }
}
