:root {
  --body-font: Montserrat, sans-serif;

  --spacing-tiny: 0.375rem;
  --spacing-small: 0.75rem;
  --spacing: 1.5rem;
  --spacing-large: 3rem;

  --athens-gray: #e6eaee;
  --atomic-tangerine: #ff9671;
  --cod-gray: #1e1e1e;
  --deep-blush: #e65faa;
  --dove-gray: #696969;
  --festival: #f9f871;
  --fuchsia-blue: #845ec2;
  --koromiko: #ffbb61;
  --tickle-me-pink: #ff6f91;
  --vivid-tangerine: #ff8080;
  --white: #fff;
}
